<ion-header>
  <ion-toolbar>
    <ion-button (click)="prevDate()" color="secondary">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-button>
    <ion-title class="title" color="primary">
      Todos for {{dateStr}}
    </ion-title>
    <ion-button (click)="nextDate()" color="secondary" slot="end">
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="container" color="light">
  <ion-list class="list" lines="none">
    <ng-container *ngFor="let todo of todos$ | async; trackBy: trackBy">
      <ion-item lines="none">
        <app-ticket class="ticket" [todo]="todo.todo" [isDone]="todo.isDone" [id]="todo.id" [mode]="mode"
          (updateTodo)="onUpdateTodo()"></app-ticket>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>


<ion-footer class="footer">
  <div class="buttons">
    <ion-button *ngIf="mode === 'none'" shape="round" fill="clear" size="small" expand="full"
      (click)="changeMode('edit')">
      <ion-icon slot="start" class="icon" name="create"></ion-icon>
    </ion-button>
    <ion-button *ngIf="mode === 'none'" shape="round" fill="clear" size="small" expand="full"
      (click)="changeMode('delete')">
      <ion-icon slot="start" class="icon" name="trash"></ion-icon>
    </ion-button>
    <ion-button *ngIf="mode !== 'none'" shape="round" fill="clear" size="small" expand="full"
      (click)="changeMode('none')">
      <ion-icon slot="start" class="icon" name="checkmark-circle-outline"></ion-icon>
      <span id="done_label">DONE</span>
    </ion-button>
  </div>
</ion-footer>