<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Add ToDo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <form [formGroup]="form">
    <ion-item class="item">
      <ion-label position="stacked">ToDo</ion-label>
      <ion-textarea formControlName="toDo" rows="1">
      </ion-textarea>
    </ion-item>
    <ion-item class="item">
      <ion-label position="stacked">Date</ion-label>
      <ion-datetime displayFormat="MMMM DD" formControlName="date"></ion-datetime>
    </ion-item>
  </form>
  <ion-button color="primary" shape="round" fill="outline" (click)="onSave()">Save</ion-button>
</ion-content>