<ion-list no-margin>
  <ion-list-header color="dark">
    <ion-label class="fw700">Edit Todo</ion-label>
    <div class="icons">
      <ion-icon class="icon trash" name="trash" (click)="onDelete()"></ion-icon>
      <ion-icon class="icon close" name="close" (click)="onClose()"></ion-icon>
    </div>
  </ion-list-header>

  <ion-item class="item" lines="none">
    <app-todo-form [form]="form"></app-todo-form>
  </ion-item>

  <ion-item class="item" lines="none">
    <ion-button class="button" size="default" color="medium" shape="round" (click)="onSave()">SAVE</ion-button>
  </ion-item>
</ion-list>